<div class="contenedor">
    <div class="ckeditorContainer">
        <div class="content" align="center">
            <mat-label><b>Sueño</b></mat-label>
        </div>
        <ckeditor [(ngModel)]="Sueno">

        </ckeditor>
        <button class="btn btn-primary btn-sm" (click)="save(Sueno)">Guardar Texto</button>
    </div>
    <hr>
    <div class="ckeditorContainer">
        <div class="content" align="center">
            <mat-label><b>Alimentación</b></mat-label>
        </div>
        <ckeditor [(ngModel)]="Alimentacion">
        </ckeditor>
        <button class="btn btn-primary btn-sm" (click)="saveAl(Alimentacion)">Guardar Texto</button>
    </div>
    <div class="ckeditorContainer">
        <div class="content" align="center">
            <mat-label><b>Actividad física</b></mat-label>
        </div>
        <ckeditor [(ngModel)]="ActFisica">

        </ckeditor>
        <button class="btn btn-primary btn-sm" (click)="saveActFisica(ActFisica)">Guardar Texto</button>
    </div>

</div>