/* component.css */
body {
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0.5rem 0;
}

.header, .content, .footer {
    page-break-inside: avoid;
}

.content {
    margin: 1rem 0;
}
#content {
    display: block; /* Asegúrate de que el elemento no esté oculto */
    visibility: visible; /* Asegúrate de que el elemento sea visible */
  }
.page-break {
    page-break-before: always;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

img {
    max-width: 100%;
    height: auto;
}

.no-page-break {
    page-break-inside: avoid;
}

.contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 600px;
}  

.izq{
    margin-left: 15px;
    margin-right: 15px;
}

.txt {float:right; width: 200px;}

#img{

    width: 400px;
    height: 400px;
}

.file-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Espacio entre contenedores de archivos */
  }
  
  .file-image {
    width: 100%; /* Ancho de la imagen */
    height: 100%; /* Alto de la imagen */
    object-fit: cover; /* Ajustar la imagen para que ocupe todo el espacio, manteniendo la proporción */
    border-radius: 8px; /* Bordes redondeados, opcional */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto elevado, opcional */
  }
  
  p {
    font-size: 18px; /* Tamaño del texto "No image available" */
    color: #0e0d0d; /* Color del texto */
  }

  .page-break2 {
    page-break-before: always;
    page-break-after: always;
  }

  