<block-ui>
<div id="reporte" class="container" style="overflow: scroll;background-color: white;">
    <br>
    <!--Titulo del Informe-->
    <div class="row izq">
      <div class="col">
        <img src="assets/img/logoInforme.png">
      </div>
      <div class="col-1">
      </div>
      <div class="col">
        <div style="float: right;">
       <!--      <label>Maestría en Terapia Cognitivo Conductual </label><br>
            <label>e Intervención en Crisis</label><br> -->
            <label>Informe Clínico</label>
        </div>
      </div>
    </div>
    <!--Fin del titulo-->

    <div class="izq">
        <h3>No. expediente: {{informe.inf_paciente_id}} </h3><br>
<!--         <label>Terapeuta. {{informe.terapeuta}} </label><br>
        <label>Coterapeuta. {{informe.coterapeuta}}</label><br> -->
    </div><br>
    <div class="izq">
        <h3>1.Datos Biográficos.</h3><br>
        <label>Nombre del paciente: {{informe.inf_paterno}} {{informe.inf_materno}} {{informe.inf_nombre}}</label><br>
        <label>Edad: {{informe.inf_edad}} años</label><br>
        <label>Fecha de Nacimiento: {{informe.inf_fecha_nacimiento}}</label><br>
        <label>Fecha de Inicio: {{informe.inf_fecha_ingreso}}</label><br>
        <table *ngIf="fechasing.length>0">
          <tr>
            <thead><b>Fechas de Reingreso</b></thead>
          </tr>
          <tbody>
            <tr *ngFor="let item of fechasing">
              <td><b>{{item.fecha_rei}}</b></td>
            </tr>
          </tbody>
        </table>
        <label>Género: {{informe.gen_desc}}</label><br>
        <label>Nivel de estudios: {{informe.esc_desc}} </label><br>
        <label>Situación laboral: {{informe.inf_ocupacion}}</label><br>
        <label>Email: {{informe.inf_email}}</label><br>    
        <label>Domicilio: {{informe.inf_domicilio}}</label><br> 
        <label>Vive con: {{informe.inf_vive_con}}</label><br> 
        <label>Teléfono de contacto principal: {{informe.inf_telefono}} </label><br> 
        <div class="col-sm-12">
          <h5><label>Contactar en caso de emergencia</label></h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Persona</th>
                <th scope="col">Teléfono</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><input type="text" [(ngModel)]="informe.inf_contacto_eme" name="contacto1" style="width: 100%;" readonly></td>
                <td><input type="tel" [(ngModel)]="informe.inf_telefono_eme" name="telefono1" style="width: 100%;" readonly></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><input type="text" [(ngModel)]="informe.inf_contacto_eme2" name="contacto2" style="width: 100%;" readonly></td>
                <td><input type="tel" [(ngModel)]="informe.inf_telefono_eme2" name="telefono2" style="width: 100%;" readonly></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><input type="text" [(ngModel)]="informe.inf_contacto_eme3" name="contacto3" style="width: 100%;" readonly></td>
                <td><input type="tel" [(ngModel)]="informe.inf_telefono_eme3" name="telefono3" style="width: 100%;" readonly></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div><br>

    <div class="d-flex justify-content-center"><label>Datos Demográficos</label></div><br>
    <div class="izq">
      
      <div><label>Orientación Sexual: {{orientacion}} </label></div>
      <div *ngIf="informe.inf_orientacion==4"><label>Orientación Sexual Específica : {{informe.inf_especifique_or}} </label></div>
      <div><label>Estado Civil: {{informe.civil_desc}} </label></div>
      <div *ngIf="informe.inf_edocivil==6"> <label >Estado Civil Específico : {{informe.inf_especifique}} </label></div>
      <div><label>Tiene Pareja?: {{informe.inf_pareja}} </label></div>
      <div><label>Religión: {{religion}} </label></div>
      <div *ngIf="informe.inf_religion==6"><label>Religión Específica: {{informe.inf_especifique_reg}} </label></div>
      <div><label>Trabaja?: {{informe.inf_trabaja}} </label></div>
      <div *ngIf="informe.inf_trabaja=='SI'"><label>Lugar de Trabajo: {{informe.inf_lugar_trabajo}} </label></div>
      <div *ngIf="informe.inf_trabaja=='SI'"><label>Cuantas horas a la semana: {{informe.inf_horas_semana}} </label></div>

     <!--  <label>Teléfono: {{informe.inf_telefono}}</label><br> -->
    </div><br><br>

    <div class="d-flex justify-content-center"><label>Estructura Familiar</label></div>
    <div class="d-flex justify-content-center">
      <div>
        <table class="table table-bordered" >
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Edad</th>
              <th>Parentesco o relación</th>
              <th>Ocupación</th>
              <th>Dependientes económicos (SI /NO)</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let p of familiares; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{p.fam_nombre}} </td>
              <td>{{p.fam_edad}} </td>
              <td>{{p.fam_parentesco}}</td>
              <td>{{p.fam_ocupacion}}</td>
              <td>{{p.fam_dependientes}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><br><br>

    <div class="d-flex justify-content-center"><label>Suicidio</label></div>
    <div class="d-flex justify-content-center">
      <div>
        <table class="table table-bordered" >
          <tr>
            <td>
              <label>Ideación suicida</label><br>
              <label>{{informe.inf_idea_su}}</label>
            </td>
            <td>
              <label>Tiempo:</label><br>
              <label>{{informe.inf_idea_su_tiempo}}</label>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label>Intento suicida</label><br>
              <label>{{informe.inf_intento_su}}</label>
            </td>
            <td>
              <label>Tiempo:</label><br>
              <label>{{informe.inf_intento_su_tiempo}}</label>
            </td>
            <td>
              <label>Método:</label><br>
              <label>{{informe.inf_intento_su_metodo}}</label>

              <div *ngIf="informe.inf_intento_su_metodo=='Otro'">
                <label>Método específico:</label><br>
                <label>{{informe.inf_intento_su_especifique}}</label>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label>Plan suicida</label><br>
              <label>{{informe.inf_plan_su}}</label>
            </td>
            <td>
              <label>Tiempo:</label><br>
              <label>{{informe.inf_plan_su_tiempo}}</label>
            </td>
            <td>
              <label>Método:</label><br>
              <label>{{informe.inf_plan_su_metodo}}</label>
           
              <div *ngIf="informe.inf_plan_su_metodo=='Otro'">
                <label>Método específico:</label><br>
                <label>{{informe.inf_plan_su_especifique}}</label>
              </div>
            </td>
            <td>
              <label>Nivel de estructura:</label><br>
              <label>{{informe.inf_plan_su_nivel}}</label>
            </td>
          </tr>
          <tr>
            <td>
              <label>Autolesión</label><br>
              <label>{{informe.inf_autolesion}}</label>
            </td>
            <td>
              <label>Tiempo:</label><br>
              <label>{{informe.inf_autolesion_tiempo}}</label>
            </td>
            <td>
              <label>Método:</label><br>
              <label>{{informe.inf_autolesion_metodo}}</label>
              <div *ngIf="informe.inf_autolesion_metodo=='Otro'">
                <label>Método específico:</label><br>
                <label>{{informe.inf_autolesion_especifique}}</label>
              </div>
            </td>
            <td>
              <label>Lugar:</label><br>
              <label>{{informe.inf_autolesion_lugar}}</label>
              <div *ngIf="informe.inf_autolesion_lugar=='Otro'">
                <label>Lugar específico:</label><br>
                <label>{{informe.inf_autolesion_lu_espe}}</label>
              </div>
            </td>
          </tr>
        </table>
      </div>
     
    </div>
 
    <div class="izq">
      <h5>Estado de Salud Física y Mental.</h5><br>
      <label>Sueño:</label><br> 
      <p [innerHTML]="salud.salud_sueno_desc"></p>
      <label>Alimentación:</label><br> 
      <p [innerHTML]="salud.salud_alimentacion_desc"></p>
      <label>Actividad física:</label><br> 
      <p [innerHTML]="salud.salud_act_fisica_desc"></p>

    </div>
    <div class="d-flex justify-content-center"><label>Antecedentes familiares de enfermedades físicas y mentales</label></div>

<div class="container">
    <label>Antecedentes de problemas médicos y/o padecimiento actual.</label><br>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Problema médico</th>
            <th scope="col">Médico tratante.</th>
            <th scope="col">Medicamento</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Tiempo del tratamiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of probmedlist; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{p.problema_problema}}</td>
            <td>{{p.problema_medico}}</td>
            <td>{{p.problema_medicamento}}</td>
            <td>{{p.problema_fecha_ini_trata.substring(0,10)}}</td>
            <td>{{p.problema_tiempo_tratamiento}}</td>
        
          </tr>
 
        </tbody>
      </table>
      <br>
      <label>Diagnóstico previo de salud mental. </label><br>

      <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Diagnostico o tipo de problema</th>
              <th scope="col">Médico tratante.</th>
              <th scope="col">Medicamento</th>
              <th scope="col">Tiempo del tratamiento</th>
              <th scope="col">
                ¿Tratamiento
                Psicológico?
                Tiempo de
                duración
              </th>
            

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of prevlist; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{p.previo_problema}}</td>
              <td>{{p.previo_medico}}</td>
              <td>{{p.previo_medicamento}}</td>
              <td>{{p.previo_tiempo_tratamiento}}</td>
              <td>{{p.previo_tiempo_psicologico}}</td>
            </tr>
            
          </tbody>
        </table>
        <br>
        <label>Consumo de Sustancias.</label><br>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Sustancia</th>
                <th scope="col">Si-No</th>
                <th scope="col">Edad de inicio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Tiempo de consumo
                    ¿Cada cuando consume esta sustancia? ¿Cuánto tiempo (días, meses, años) tiene consumiéndola?
                </th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of conslist; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{p.consumo_sustancia}}</td>
                <td>{{p.consumo_sino}}</td>
                <td>{{p.consumo_edad_inicio}}</td>
                <td>{{p.consumo_cantidad}}</td>
                <td>{{p.consumo_tiempo}}</td>
              </tr>
            </tbody>
          </table>
</div><br>
<div class="izq">
  <h3>2. 	Problemas y Objetivos.</h3><br>
  <label>Motivo de consulta y delimitación inicial del problema: </label><br> 
  <p [innerHTML]="cons.con_motivo"></p><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Problemas</th>
        <th scope="col">Objetivos</th>
        <th scope="col">Técnica</th>
    
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of problist; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{p.pro_problema}}</td>
        <td>{{p.pro_objetivo}}</td>
        <td>{{p.pro_tecnica}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="izq">
  <h3>3.Análisis Funcional.</h3><br>
  <table class="table table-bordered">
    <thead>
      <tr>
   <!--      <th scope="col">#</th> -->
        <th scope="col">ANTECEDENTES</th>
        <th scope="col">CONDUCTA</th>
        <th scope="col">CONSECUENTES</th>
    
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p [innerHTML]="analisis.analisis_ant_desc"></p></td>
        <td><p [innerHTML]="analisis.analisis_con_desc"></p></td>
        <td><p [innerHTML]="analisis.analisis_cons_desc"></p></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="izq">
  <h3>4.Evolución del Problema.</h3><br>
  <label>Factores predisponentes o de vulnerabilidad.</label><br> 
  <p [innerHTML]="evolucion.evo_factores"></p>
  <label>Aparición y curso del problema: </label><br> 
  <p [innerHTML]="evolucion.evo_curso_problema"></p>
</div>

<div class="izq">
  <label>Linea de Vida.</label><br> 
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Etapa</th>
        <th scope="col">Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of linealist; let i = index">
        <th scope="row">{{i+1}}</th>
        <td><b>{{p.lin_titulo}}</b></td>
        <td>{{p.lin_desc}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="izq">
  <h3>5.Otras áreas a considerar.</h3><br>
  <label>Autocontrol:</label><br> 
  <p [innerHTML]="otras.otras_autocontrol"></p>
  <label>Aspectos motivacionales:</label><br> 
  <p [innerHTML]="otras.otras_aspectos_m"></p>
  <label>Recursos personales:</label><br> 
  <p [innerHTML]="otras.otras_recursos_p"></p>
  <label>Apoyo social:</label><br> 
  <p [innerHTML]="otras.otras_apoyo_s"></p>
  <label>Situación vital y estilo de vida:</label><br> 
  <p [innerHTML]="otras.otras_situacion_v"></p>
</div>

<div class="izq">
  <h3>6.Diagnóstico DSMV.</h3><br>
  <p [innerHTML]="diag.diag_desc"></p>
</div>

<div class="izq">
  <h3>7.Formulación del Caso (anexar diagrama) </h3><br>
<!--   <label>imagen 1</label><br> 
  <label>imagen 2</label><br>  -->
  <div class="d-flex justify-content-center"><img #imgRef3></div>
  <br>
  <label>Hipótesis de Origen y mantenimiento.</label><br> 
  <p [innerHTML]="caso.form_hipotesis" ></p>
  <label>Contraste de hipótesis.</label><br> 
  <p [innerHTML]="caso.form_contraste"></p>
</div>

<div class="izq">
  <h3>8.Objetivos y propuesta de tratamiento.</h3><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Objetivos</th>
        <th scope="col">Técnicas</th>
    
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of tratalist; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{p.trata_objetivo}}</td>
        <td><p [innerHTML]="p.trata_tecnica"></p></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center"><label>Tabla de Sesiones</label></div>
<div class="izq">
  <table class="table table-bordered">
    <thead>
      <tr>
    
        <th scope="col">Fecha</th>
        <th scope="col">N° de sesión</th>
        <th scope="col">Objetivo</th>
     <!--    <th scope="col">Técnica</th> -->
        <th scope="col">Tarea</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of sesiones; let i = index">
        <td>{{p.sesion_fecha}}</td>
        <td>{{p.sesion_no}}</td>
        <td>{{p.sesion_objetivo}}</td>
        <!-- <td>{{p.sesion_tecnica_abc}}</td> -->
        <td>{{p.sesion_tarea_asignada}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div class="d-flex justify-content-center"><label>Perfil de Ideas Irracionales</label></div>


<div class="contenedor">
  <!--  <div style="width: 600px;height: 600px;">
       
   </div> -->
   <canvas id="myChart"></canvas>
     <table class="table">
       <thead class="thead-dark">
         <tr>
           <th scope="col">Tipo de Creencia</th>
           <th scope="col">Descripción de la creencia</th>
           <th scope="col">Puntaje Obtenido</th>
   
         </tr>
       </thead>
       <tbody>
         <tr>
           <input type="hidden">
           <td>Creencia irracional #1</td>
           <td>Es una necesidad absoluta tener el amor y la aprobación de las demás personas."</td>
           <td>
             <input type="hidden" [(ngModel)]="creencia.creencia_id">
             <input type="text" [(ngModel)]="creencia.creencia_irra1" readonly> 
            
           </td>
         </tr>
         <tr>
           <td>Creencia irracional #2</td>
           <td>Se debe ser infalible constantemente, competente y perfecto en todo lo que hacemos."</td>
           <td><input type="text" [(ngModel)]="creencia.creencia_irra2" readonly> </td>
         </tr>
         <tr>
           <td>Creencia irracional #3</td>
           <td>Las personas que son malvadas y villanas deben ser siempre castigadas."</td>
           <td><input type="text" [(ngModel)]="creencia.creencia_irra3" readonly> </td>
         </tr>
         <tr>
           <td>Creencia irracional #4</td>
           <td>Es horrible y catastrófico cuando las cosas no son de la manera que nos gustaría."</td>
           <td><input type="text" [(ngModel)]="creencia.creencia_irra4" readonly> </td>
         </tr>
         <tr>
           <td>Creencia irracional #5</td>
           <td>Las circustancias externas causan las miserias humanas y las personas reaccionan en medida que estas provocan emociones"</td>
           <td><input type="text" [(ngModel)]="creencia.creencia_irra5" readonly> </td>
         </tr>
         <tr>
           <td>Creencia irracional #6</td>
           <td>Se debe sentir miedo y ansiedad acerca de cualquier cosa que sea desconocida o incierta."</td>
           <td><input type="text" [(ngModel)]="creencia.creencia_irra6" readonly> </td>
         </tr>
         <tr>
           <td>Creencia irracional #7</td>
           <td>Es más fácil evitar que enfrentar las dificultades y responsabilidades de la vida."</td>
           <td><input type="text" [(ngModel)]="creencia.creencia_irra7" readonly> </td>
         </tr>
         <tr>
           <td>Creencia irracional #8</td>
           <td>Necesitamos de algo y/o alguien más grande o fuerte que nosotros en quien confiar y apoyarnos."</td>
           <td><input type="text" [(ngModel)]="creencia.creencia_irra8" readonly> </td>
         </tr>
         <tr>
           <td>Creencia irracional #9</td>
           <td>Los hechos de nuestro pasado tienen mucha importancia para determinar nuestro presente."</td>
           <td><input type="text" [(ngModel)]="creencia.creencia_irra9" readonly> </td>
         </tr>
         <tr>
           <td>Creencia irracional #10</td>
           <td>La felicidad puede ser lograda por medio de la inaccion, la pasividad y el ocio sin final."</td>
           <td><input type="text" [(ngModel)]="creencia.creencia_irra10" readonly> </td>
         </tr>
       </tbody>
     </table>
     <br><br>
     <img #imgRef><br>
     <img #imgRef2><br>
</div>
<div class="d-flex justify-content-center"><label>Este informe es de carácter clínico y no puede ser utilizado con fines legales</label></div>


  </div><!--Fin del reporte-->
  <div class="contenedor">
    <button class="btn btn-danger sm" (click)="onExportClick()">Exportar PDF</button>
    <button class="btn btn-primary sm mt-2" [routerLink]="['/exp',informe.inf_paciente_id]">Regresar </button>
</div>
</block-ui>