<div id="reporte" class="container" style="background-color: white">
    <br>
    <!--Titulo del Informe-->
    <div class="row izq">
      <div class="col">
        <img src="assets/img/logoInforme.png">
      </div>
      <div class="col-1">
      </div>
      <div class="col">
        <div style="float: right;">
<!--             <label>Maestría en Terapia Cognitivo Conductual </label><br>
            <label>e Intervención en Crisis</label><br> -->
            <label>Informe Clínico</label>
        </div>
      </div>
    </div>
    <!--Fin del titulo-->
    <div class="izq">
        <h4>Caso: {{pac.sesion_caso}}</h4><br>
        <label>N° de sesión:{{pac.sesion_no}}</label><br>
        <label>Terapeuta.   {{pac.terapeuta}}</label><br>
        <label>Coterapeuta. {{pac.coterapeuta}}</label><br>
        <label>Fecha. {{pac.sesion_fecha_captura}}</label><br><br>

        <label>1. Objetivo general de la sesión</label><br>
        <p>{{pac.sesion_objetivo}}</p><br>

        <label>2. Revisión de Tarea asignada previamente.</label><br>
        <label>Graduar los intentos del paciente para completar la tarea de la sesión pasada:</label><br>
        <p>{{pac.rev_tarea_desc}}</p><br>

        <label>3. Técnica de ABC. (Sólo si se trabajó un ABC)</label><br>
        <table border="1">
          <tr>
            <th>Evento activador (A) + Inferencias</th> 
            <th>Pensamientos/Creencias irracionales (B)</th> 
            <th>Consecuencias (C) emocionales, conductuales y fisiológicas</th>
          </tr>
          <tr>
            <td><div [innerHTML]="pac.sesion_evento_act"></div></td> 
            <td><div [innerHTML]="pac.sesion_pensamientos_cre"></div></td> 
            <td><div [innerHTML]="pac.sesion_consecuencia_emo"></div></td> 
          </tr>
        
        </table><br>

        <label>Objetivos a lograr en la sesión.</label><br>
        <label>Emocional.</label><br>
        <p>{{pac.sesion_obj_emo}}</p><br>

        <label>Conductual.</label><br>
        <p>{{pac.sesion_obj_cond}}</p><br>

        <label>Prácticos (si aplica, justifica).</label><br>
        <p>{{pac.sesion_obj_prac}}</p><br>

        <label>Preguntas de debate.</label><br>
        <p>{{pac.sesion_preguntas_debate}}</p><br>

        <label>Técnicas o estrategias terapéuticas .</label><br>
        <p>{{pac.sesion_tecnicas_estrategias}}</p><br>

        <label>4. Otras Técnicas utilizadas (descripción y justificación de la técnica utilizada)</label><br>
        <p>{{pac.sesion_otras_tecnicas}}</p><br>

        <label>5. Tarea asignada.</label><br>
        <p>{{pac.sesion_tarea_asignada}}</p><br>

        <label>Notas adicionales.</label><br>
        <p>{{pac.sesion_notas_ad}}</p><br>

        <label>Recomendación de Supervisor. </label><br>
        <p>{{pac.sesion_recomendacion_sup}}</p><br>
        
    </div><br>

  </div>
  <div class="contenedor">
    <button class="btn btn-danger sm" (click)="onExportClick()">Exportar PDF</button>
    <button class="btn btn-primary sm mt-2" [routerLink]="['/exp',expediente]">Regresar </button>
</div>

