<!-- <mat-toolbar color="primary">
    <span class="fill-remaining-space">Registro de pacientes</span>
  </mat-toolbar> -->
  
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field class="form-element">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput [(ngModel)]="pac.pac_paterno" name="paterno" ngDefaultControl>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field class="form-element">
          <mat-label>Apellido Materno</mat-label>
          <input matInput [(ngModel)]="pac.pac_materno" name="materno" ngDefaultControl>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field class="form-element">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="pac.pac_nombre" name="nombres" ngDefaultControl >
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field>
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="pac.pac_fecha_nacimiento" name="fnac" ngDefaultControl>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field>
          <mat-label>Fecha de Ingreso</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="pac.pac_fecha_ingreso" name="fingreso" ngDefaultControl>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 ></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field class="form-element">
          <mat-label>Edad</mat-label>
          <input matInput type="number" [(ngModel)]="pac.pac_edad" name="edad" ngDefaultControl>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field class="form-element">
          <mat-label>Género </mat-label>
          <mat-select [(ngModel)]="pac.pac_genero" name="genero" ngDefaultControl>
  
        <!--     <mat-option value="" selected>--Seleccione--</mat-option> -->
            <mat-option [value]="1">Masculino</mat-option>
            <mat-option [value]="2">Femenino</mat-option>
            <mat-option [value]="3">No deseo Manifestar</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field class="form-element">
          <mat-label>Estado Civil</mat-label>
          <mat-select [(ngModel)]="pac.pac_edocivil" name="edocivil" ngDefaultControl>
           <!--  <mat-option value="" >--Seleccione--</mat-option> -->
            <mat-option [value]="1">Soltero/a</mat-option>
            <mat-option [value]="2">Casado/a</mat-option>
            <mat-option [value]="3">Viudo/a</mat-option>
            <mat-option [value]="4">Divorciado/a</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field class="form-element">
          <mat-label>Estructura Familiar</mat-label>
          <textarea matInput cols="5" rows="5" [(ngModel)]="pac.pac_estructura_fam" name="pac_estructura_fam" ngDefaultControl ></textarea>
        </mat-form-field>
      </div>

      <div class="col-sm">
        <mat-form-field class="form-element">
          <mat-label>Escolaridad</mat-label>
          <mat-select [(ngModel)]="pac.pac_escolaridad" name="escolaridad" ngDefaultControl>
            <mat-option [value]="1">Primaria</mat-option>
            <mat-option [value]="2">Secundaria</mat-option>
            <mat-option [value]="3">Preparatoria</mat-option>
            <mat-option [value]="4">Licenciatura</mat-option>
            <mat-option [value]="5">Maestría</mat-option>
            <mat-option [value]="6">Doctorado</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field class="form-element">
          <mat-label>Ocupación</mat-label>
          <input matInput [(ngModel)]="pac.pac_ocupacion" name="ocupacion" ngDefaultControl>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field class="form-element">
          <mat-label>Email de contacto</mat-label>
          <input matInput type="email" [(ngModel)]="pac.pac_email" name="email" ngDefaultControl>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field class="form-element">
          <mat-label>Teléfono de contacto</mat-label>
          <input matInput type="tel" [(ngModel)]="pac.pac_telefono" name="telefono" ngDefaultControl>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="form-element">
          <mat-label>Domicilio</mat-label>
          <textarea matInput [(ngModel)]="pac.pac_domicilio" name="domicilio" ngDefaultControl ></textarea>
        </mat-form-field>
      </div>
      <div class="col-12">
        <div class="col-sm">
       <!--    <mat-form-field > -->
            <!-- <mat-label>Tutor:</mat-label>
            <mat-select  [(ngModel)]="selectedValue" name="sesion_coterapeuta" ngDefaultControl [(value)]="pac.pac_tutor"> -->
             <!--  <mat-option value="0" selected>--Seleccione Tutor--</mat-option> -->
         <!--      <mat-option  *ngFor="let a of tutor" [value]="a.id">{{a.usr_paterno}} {{a.usr_materno}} {{a.usr_nombre}}</mat-option>
       
            </mat-select>
          </mat-form-field> -->
       <!--    <select name="miselect" [(ngModel)]="pac.pac_tutor">
            <option [value]="item.id" *ngFor="let item of tutor">{{item.usr_paterno}} {{item.usr_materno}} {{item.usr_nombre}}</option>
            </select> -->
            <!-- (change)="getAfiliados($event.target.value)" -->
            <label for="exampleFormControlSelect1">Supervisor:</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="pac.pac_tutor">
              <option selected="selected" value="0" *ngIf="pac.pac_tutor==0">-- Seleccione un Supervisor --</option>
              <option *ngFor="let a of tutor" value="{{ a.usr_id }}" selected="selected">{{a.usr_paterno}} {{a.usr_materno}} {{a.usr_nombre}}</option>
             </select>
           <!--  {{pac.pac_tutor}} -->
        </div>
      </div>

      <div class="col-12">
        <div class="col-sm">
 
            <label for="exampleFormControlSelect1">Terapeuta:</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="pac.pac_terapeuta">
              <!-- <option selected="selected" value="0">-- Seleccione un año --</option> -->
              <option *ngFor="let a of terapeutas" value="{{ a.tera_id }}" selected="selected">{{a.tera_paterno}} {{a.tera_materno}} {{a.tera_nombres}}</option>
             </select>
           <!--  {{pac.pac_tutor}} -->
        </div>
      </div>

      <div class="col-12">
        <div class="col-sm">

            <label for="exampleFormControlSelect1">Coterapeuta:</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="pac.pac_coterapeuta">
              <!-- <option selected="selected" value="0">-- Seleccione un año --</option> -->
              <option *ngFor="let b of terapeutas" value="{{ b.tera_id }}" selected="selected">{{b.tera_paterno}} {{b.tera_materno}} {{b.tera_nombres}}</option>
             </select>
           <!--  {{pac.pac_tutor}} -->
        </div>
      </div>
      <div class="form-element">
        <button mat-raised-button color="primary" type="button" class="button" (click)="ActualizarPac();">Actualizar Paciente</button>
      </div>
    </div>
  </div>