 <!--Datos generales-->
 <div class="contenedor">
    <mat-form-field>
        <mat-label>Apellido Paterno</mat-label>
        <input matInput value="Peligrini" readonly="readonly">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Apellido Materno</mat-label>
        <input matInput value="Saneti" readonly="readonly">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput value="Estefania" readonly="readonly">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput value="04/10/2000" readonly="readonly">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Edad</mat-label>
        <input matInput value="23" readonly="readonly">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Género</mat-label>
        <input matInput value="Femenino" readonly="readonly">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Estado Civil</mat-label>
        <input matInput value="Soltero/a" readonly="readonly">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Escolaridad</mat-label>
        <input matInput value="Licenciatura" readonly="readonly">
    </mat-form-field>
    <!-- <mat-form-field>
        <mat-label>Género </mat-label>
        <mat-select>
            <mat-option value="one">Masculino</mat-option>
            <mat-option value="two" selected>Femenino</mat-option>
            <mat-option value="three">No deseo Manifestar</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Estado Civil</mat-label>
        <mat-select>
            <mat-option value="one" selected>Soltero/a</mat-option>
            <mat-option value="two">Casado/a</mat-option>
            <mat-option value="three">Viudo/a</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Escolaridad</mat-label>
        <mat-select>
            <mat-option value="one">Primaria</mat-option>
            <mat-option value="two">Secundaria</mat-option>
            <mat-option value="two">Preparatoria</mat-option>
            <mat-option value="two">Licenciatura</mat-option>
            <mat-option value="two">Maestría</mat-option>
            <mat-option value="two">Doctorado</mat-option>
        </mat-select>
    </mat-form-field> -->

    <mat-form-field>
        <mat-label>Ocupación</mat-label>
        <input matInput value="Abogada" readonly="readonly">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Domicilio</mat-label>
        <textarea matInput readonly="readonly"> Av. Las Brisas #211 Fraccionamiento Las Palmas</textarea>
    </mat-form-field>
</div>

<!-------------------->
