<block-ui>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Padrón COGNOS</h2>
        <div class="row">
            <div class="col-md-12">
                <input type="text" [(ngModel)]="searchString" class="form-control mb-3" placeholder="Buscar en la tabla...">
                <button class="btn btn-primary sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Registrar Personal</button>
                <hr>
                <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th style="position: sticky; top: 0;" scope="col">ID</th>
                                <th style="position: sticky; top: 0;" scope="col">Nombre</th>
                                <th style="position: sticky; top: 0;" scope="col">Correo Electrónico</th>
                                <th style="position: sticky; top: 0;" scope="col">Estatus</th>
                                <th style="position: sticky; top: 0;" scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of filteredItems">
                                <td>{{ item.pad_id }}</td>
                                <td>{{ item.pad_nombre }}</td>
                                <td>{{ item.pad_correo }}</td>
                                <td>{{ item.pad_estatus }}</td>
                                <td><button class="btn btn-danger sm" (click)="ActivaDesactiva(item.pad_id)">Activar/Desactivar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registro de Usuarios</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Nombre:</label>
                  <input type="text" class="form-control" id="recipient-name" [(ngModel)]="pad.pad_nombre">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Correo:</label>
                    <input type="email" class="form-control" id="recipient-name" [(ngModel)]="pad.pad_correo">
                  </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" #myModalClose>Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="Registrar()">Registrar</button>
            </div>
          </div>
        </div>
      </div>
</block-ui>
