<div class="contenedor">
  <div class="ckeditorContainer">
    <div class="content" align="center">
        <mat-label><b>Motivo de la consulta.</b></mat-label>
    </div>
    <ckeditor [(ngModel)]="consulta">
    </ckeditor>
    <button class="btn btn-primary btn-sm" (click)="save(consulta)">Guardar Texto</button>
</div>
<hr>
    <button class="btn btn-primary">Agregar</button> 
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Problemas</th>
            <th scope="col">Objetivos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>ALCOHOL</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </td>
          </tr>

          <tr>
            <th scope="row">1</th>
            <td>ALCOHOL</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </td>
          </tr>

          <tr>
            <th scope="row">1</th>
            <td>ALCOHOL</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </td>
          </tr>
        </tbody>
      </table>
<!--          <mat-form-field>
        <mat-label>Listado de Problemas</mat-label>
        <textarea matInput cols="50" rows="8" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Listado de Objetivos</mat-label>
        <textarea matInput cols="50" rows="8" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </textarea>
    </mat-form-field> -->
</div>
<div></div>
