
<div class="contenedor">
   <!--  <div style="width: 600px;height: 600px;">
        
    </div> -->
    <canvas id="myChart"></canvas>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Tipo de Creencia</th>
            <th scope="col">Descripción de la creencia</th>
            <th scope="col">Puntaje Obtenido</th>
    
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Creencia irracional #1</td>
            <td>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</td>
            <td>8</td>
          </tr>
          <tr>
            <td>Creencia irracional #2</td>
            <td>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</td>
            <td>7</td>
          </tr>
          <tr>
            <td>Creencia irracional #3</td>
            <td>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Creencia irracional #4</td>
            <td>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Creencia irracional #5</td>
            <td>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Creencia irracional #6</td>
            <td>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Creencia irracional #7</td>
            <td>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</td>
            <td>7</td>
          </tr>
          <tr>
            <td>Creencia irracional #8</td>
            <td>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Creencia irracional #9</td>
            <td>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</td>
            <td>6</td>
          </tr>
          <tr>
            <td>Creencia irracional #10</td>
            <td>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
</div>

