<br>

<div class="d-flex justify-content-center"><label>Antecedentes familiares de enfermedades físicas y mentales</label></div>
<div class="float-right"> 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-backdrop="false">
  Comentarios
</button>  
</div>
<div class="container">
    <label>Antecedentes de problemas médicos y/o padecimiento actual.</label><br>
    <button class="btn btn-primary">Agregar</button> 
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Problema médico</th>
            <th scope="col">Médico tratante.</th>
            <th scope="col">Medicamento</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Tiempo del tratamiento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>vaporub</td>
            <td>11/11/2020</td>
            <td>5 meses</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>paracetamol</td>
            <td>01/12/2020</td>
            <td>4 meses</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Larry the Bird</td>
            <td>Otto</td>
            <td>melubrina</td>
            <td>5/11/2020</td>
            <td>2 meses</td>
          </tr>
        </tbody>
      </table>
      <br>
      <label>Diagnóstico previo de salud mental. </label><br>
      <button class="btn btn-primary">Agregar</button> 
      <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Diagnostico o tipo de problema</th>
              <th scope="col">Médico tratante.</th>
              <th scope="col">Medicamento</th>
              <th scope="col">Fecha de inicio</th>
              <th scope="col">Tiempo del tratamiento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>vaporub</td>
              <td>11/11/2020</td>
              <td>5 meses</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>paracetamol</td>
              <td>01/12/2020</td>
              <td>4 meses</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td >Larry the Bird</td>
              <td>Otto</td>
              <td>melubrina</td>
              <td>5/11/2020</td>
              <td>2 meses</td>
            </tr>
          </tbody>
        </table>
        <br>
        <label>Consumo de Sustancias.</label><br>
        <button class="btn btn-primary">Agregar</button> 
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Sustancia</th>
                <th scope="col">Si-No</th>
                <th scope="col">Edad de inicio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Tiempo de consumo
                    ¿Cada cuando consume esta sustancia? ¿Cuánto tiempo (días, meses, años) tiene consumiéndola?
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>ALCOHOL</td>
                <td>Si</td>
                <td>14 Años</td>
                <td>Más de 3 latas de cerveza</td>
                <td>Cada fin de semana desde hace 3 años.</td>
              </tr>
            </tbody>
          </table>
</div>

<br><br>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Comentarios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <textarea cols="5" rows="5" placeholder="Ingresar comentario" class="form-control"></textarea><br>
        <table class="table table-bordered">
          <thead>
              <tr>
                  <th>Usuario</th>
                  <th>Comentario</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td><b>Kara</b></td>
                  <td><b>Prueba de Comentario</b></td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar comentario</button>
      </div>
    </div>
  </div>
</div>