<br>
<div class="d-flex justify-content-center"><label>Antecedentes familiares de enfermedades físicas y mentales</label></div>
<div class="container">
    <label>Antecedentes de problemas médicos y/o padecimiento actual.</label><br>
    <button class="btn btn-primary">Agregar</button> 
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Problema médico</th>
            <th scope="col">Médico tratante.</th>
            <th scope="col">Medicamento</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Tiempo del tratamiento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>vaporub</td>
            <td>11/11/2020</td>
            <td>5 meses</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>paracetamol</td>
            <td>01/12/2020</td>
            <td>4 meses</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Larry the Bird</td>
            <td>Otto</td>
            <td>melubrina</td>
            <td>5/11/2020</td>
            <td>2 meses</td>
          </tr>
        </tbody>
      </table>
      <br>
      <label>Diagnóstico previo de salud mental. </label><br>
      <button class="btn btn-primary">Agregar</button> 
      <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Diagnostico o tipo de problema</th>
              <th scope="col">Médico tratante.</th>
              <th scope="col">Medicamento</th>
              <th scope="col">Fecha de inicio</th>
              <th scope="col">Tiempo del tratamiento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>vaporub</td>
              <td>11/11/2020</td>
              <td>5 meses</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>paracetamol</td>
              <td>01/12/2020</td>
              <td>4 meses</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td >Larry the Bird</td>
              <td>Otto</td>
              <td>melubrina</td>
              <td>5/11/2020</td>
              <td>2 meses</td>
            </tr>
          </tbody>
        </table>
        <br>
        <label>Consumo de Sustancias.</label><br>
        <button class="btn btn-primary">Agregar</button> 
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Sustancia</th>
                <th scope="col">Si-No</th>
                <th scope="col">Edad de inicio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Tiempo de consumo
                    ¿Cada cuando consume esta sustancia? ¿Cuánto tiempo (días, meses, años) tiene consumiéndola?
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>ALCOHOL</td>
                <td>Si</td>
                <td>14 Años</td>
                <td>Más de 3 latas de cerveza</td>
                <td>Cada fin de semana desde hace 3 años.</td>
              </tr>
            </tbody>
          </table>
</div>
