<div class="contenedor">
    
    <div class="ckeditorContainer">
        <div class="content" align="center">
            <mat-label><b>Otras áreas a considerar.</b></mat-label>
        </div>
        <ckeditor [(ngModel)]="otras.otras_desc">

        </ckeditor>
        <br><br>
        <div class="row d-flex justify-content-center">
           <div class="form-element">
               <button mat-raised-button color="primary" type="button" class="button" (click)="Guardar()" [disabled]="habilita==true"  >Guardar Datos</button>
           </div>
           <div class="form-element">
               <button mat-button color="primary" type="button" class="button" (click)="UpdateDatos()">Actualizar Datos</button>
           </div>
       </div>
    </div>

</div>