<br>
        <div id="cont" class="mat-elevation-z8">
            <mat-form-field class="example-full-width">
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
            <button mat-fab extended color="primary" (click)="Guardar()">
                <mat-icon>create_new_folder</mat-icon>
                Generar Informe
            </button>
            <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
          >
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}}</td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="inf_nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
            <td mat-cell *matCellDef="let element"> {{element.inf_paterno}} {{element.inf_materno}} {{element.inf_nombre}} </td>
        </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="inf_fecha_ingreso">
            <th mat-header-cell *matHeaderCellDef> Fecha de Ingreso </th>
            <td mat-cell *matCellDef="let element"> {{element.inf_fecha_ingreso}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="inf_ultimo_mov">
            <th mat-header-cell *matHeaderCellDef> Fecha de Ultimo Movimiento</th>
            <td mat-cell *matCellDef="let element"> {{element.inf_ultimo_mov}} </td>
        </ng-container>
    
      

        <ng-container matColumnDef="informe">
            <th mat-header-cell *matHeaderCellDef> Ver Informe </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" [routerLink]="['/verinforme',element.inf_id]">Ver Informe </button> </td>
        </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            #paginatorFirst
            [pageSizeOptions]="[4,6,8]"
            showFirstLastButtons
          ></mat-paginator>
        </div>

   <!--      <ul>
            <li *ngFor="let clickedRow of clickedRows">
                Clicked on {{clickedRow.terapeuta}}
            </li>
        </ul> -->

