<br>
        <div id="cont" class="mat-elevation-z8">
            <mat-form-field class="example-full-width">
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
            <button mat-fab extended color="primary">
                <mat-icon>create_new_folder</mat-icon>
                Generar Informe
            </button>
            <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
          >
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="terapeuta">
            <th mat-header-cell *matHeaderCellDef> Terapeuta </th>
            <td mat-cell *matCellDef="let element"> {{element.terapeuta}} </td>
        </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="coterapeuta">
            <th mat-header-cell *matHeaderCellDef> Coterapeuta </th>
            <td mat-cell *matCellDef="let element"> {{element.coterapeuta}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha de Creación</th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>
    
      

        <ng-container matColumnDef="informe">
            <th mat-header-cell *matHeaderCellDef> Ver Informe </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" [routerLink]="['/verinforme',element.position]">Ver Informe </button> </td>
        </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            #paginatorFirst
            [pageSizeOptions]="[4,6,8]"
            showFirstLastButtons
          ></mat-paginator>
        </div>

   <!--      <ul>
            <li *ngFor="let clickedRow of clickedRows">
                Clicked on {{clickedRow.terapeuta}}
            </li>
        </ul> -->

