<block-ui>
<br>

<div class="d-flex justify-content-center"><label>Archivos de Descarga Para Alumnos.</label></div>

      <div class="container">
        <label></label><br>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre del Archivo</th>
                <th scope="col">Descargar.</th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Alta de paciente Unidad Bajo Costo</td>
                <td><button class="btn btn-primary btn-sm" (click)="archivo1()">Descargar</button></td>
              </tr>
    
              <tr>
                <th scope="row">2</th>
                <td>Anexo - Evaluación escolar COGNOS</td>
                <td><button class="btn btn-primary btn-sm" (click)="archivo2()">Descargar</button></td>
              </tr>

              <tr>
                <th scope="row">3</th>
                <td>Baja de paciente Unidad Bajo Costo</td>
                <td><button class="btn btn-primary btn-sm" (click)="archivo3()">Descargar</button></td>
              </tr>

              <tr>
                <th scope="row">4</th>
                <td>Canalización paciente online a presencial</td>
                <td><button class="btn btn-primary btn-sm" (click)="archivo4()">Descargar</button></td>
              </tr>

              <tr>
                <th scope="row">5</th>
                <td>Consentimiento de Estudio de caso para Tesis</td>
                <td><button class="btn btn-primary btn-sm" (click)="archivo5()">Descargar</button></td>
              </tr>

              <tr>
                <th scope="row">6</th>
                <td>Consentimiento de grabación en audio</td>
                <td><button class="btn btn-primary btn-sm" (click)="archivo6()">Descargar</button></td>
              </tr>

              <tr>
                <th scope="row">7</th>
                <td>Consentimiento Informado Online Maestria</td>
                <td><button class="btn btn-primary btn-sm" (click)="archivo7()">Descargar</button></td>
              </tr>

              <tr>
                <th scope="row">8</th>
                <td>Consentimiento Informado Presencial Maestria</td>
                <td><button class="btn btn-primary btn-sm" (click)="archivo8()">Descargar</button></td>
              </tr>

              <tr>
                <th scope="row">9</th>
                <td>Consentimiento para la evaluación escolar COGNOS</td>
                <td><button class="btn btn-primary btn-sm" (click)="archivo9()">Descargar</button></td>
              </tr>

              <tr>
                <th scope="row">10</th>
                <td>Consentimiento para solicitar información en escuela para padres</td>
                <td><button class="btn btn-primary btn-sm" (click)="archivo10()">Descargar</button></td>
              </tr>
            </tbody>
          </table>
      </div>
    </block-ui>





    

