<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <img src="assets/img/logopequeno.png">
    <!--     <a [routerLink]="['/']" class="h1"><b>Admin</b>LTE</a> -->
    </div>
    <div class="card-body">
        <p class="login-box-msg">Registrar nuevo usuario</p>

        <div>
            <div class="input-group mb-3">
                <input
                    
                    type="text"
                    class="form-control"
                    placeholder="Apellido Paterno"
                    [(ngModel)]="usuario.usr_paterno" 
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-users"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                  
                    type="text"
                    class="form-control"
                    placeholder="Apellido Materno"
                    [(ngModel)]="usuario.usr_materno"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-users"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                  
                    type="text"
                    class="form-control"
                    placeholder="Nombres"
                    [(ngModel)]="usuario.usr_nombre"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user-tie"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
          
                <select id="tipo" class="form-control" [(ngModel)]="usuario.usr_per_id" >
                    <option value="0" selected>--Seleccione--</option>
                    <option value="2">R1</option>
                    <option value="3">R2</option>
                    <option value="4">Tutor</option>
                  </select>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-tools"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                    autocomplete="off"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    [(ngModel)]="usuario.usr_email" 
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                    autocomplete="off"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    [(ngModel)]="usuario.usr_password" 
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
<!--             <div class="input-group mb-3">
                <input
                    autocomplete="off"
                    type="password"
                    class="form-control"
                    placeholder="Retype password"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div> -->
<!--             <div class="row">
                <div class="col-7">
                    <div class="icheck-primary">
                        <input
                            type="checkbox"
                            id="agreeTerms"
                            name="terms"
                            value="agree"
                        />

                    </div>
                </div>
                /.col -->
         
                <!-- /.col -->
            <!-- </div> -->
        
            </div>

        <div class="social-auth-links text-center">
            <pf-button
                class="mb-2"
                [type]="'submit'"
                [block]="true"
                [loading]="isAuthLoading"
                (click)="registro()"
            >
            Registrar Usuario
            </pf-button>
     
        </div>

        <a [routerLink]="['/login']" class="text-center">
            Ya tengo una cuenta de usuario</a
        >
    </div>
</div>
