<br>

<div class="d-flex justify-content-center"><label>Resultados del Test BAI Inventario de Ansiedad de Beck</label></div>




      <div class="container">
       
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Pregunta</th>
                <th scope="col">Respuesta</th>
                <th scope="col">Descripción de Respuesta</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let item of resultados">
         
                <td><label><b>{{item.bai_desc}}</b></label></td>
                <td><label><b>{{item.res_respuesta}}</b></label></td>
                <td><label><b>{{item.desc_resp}}</b></label></td>

              </tr>
              <tr>
                <td><label><b>Total</b></label></td>
                <td><label><b>{{total}}</b></label></td>
              </tr>

            </tbody>
          </table>
          <button class="btn btn-primary sm mt-2" [routerLink]="['/rbaian',expediente]">Regresar </button><br>
      </div>

