<div class="contenedor">
<!--     <mat-form-field>
        <mat-label>Antecedentes.</mat-label>
        <textarea matInput cols="50" rows="8" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Conducta.</mat-label>
        <textarea matInput cols="50" rows="8" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Consecuentes.</mat-label>
        <textarea matInput cols="50" rows="8" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </textarea>
    </mat-form-field> -->
</div>
<div class="contenedor">
    <div class="ckeditorContainer">
        <div class="content" align="center">
            <mat-label><b>Antecedentes.</b></mat-label>
        </div>
        <ckeditor [(ngModel)]="antecedentes">

        </ckeditor>
        <button class="btn btn-primary btn-sm" (click)="save(antecedentes)">Guardar Texto</button>
    </div>
    <hr>
    <div class="ckeditorContainer">
        <div class="content" align="center">
            <mat-label><b>Conducta.</b></mat-label>
        </div>
        <ckeditor [(ngModel)]="conducta">
        </ckeditor>
        <button class="btn btn-primary btn-sm" (click)="saveAl(conducta)">Guardar Texto</button>
    </div>
    <div class="ckeditorContainer">
        <div class="content" align="center">
            <mat-label><b>Consecuentes.</b></mat-label>
        </div>
        <ckeditor [(ngModel)]="consecuentes">
        </ckeditor>
        <button class="btn btn-primary btn-sm" (click)="saveActFisica(consecuentes)">Guardar Texto</button>
    </div>

</div>