<br><br>
<div class="container">
    <button class="btn btn-primary">Agregar</button> 
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Objetivos</th>
            <th scope="col">Técnicas</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Aprender las características emocionales, cognitivas y conductuales sobre su problema.</td>
            <td>Psicoeducación.
                Entrevista inicial Manuel Muñoz
                Evaluación de pruebas psicológicas.
                </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Establecer un programa de activación conductual.</td>
            <td>Programa de activación conductual.
                Evaluar actividades en función de Dominio y Agrado.
                </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Establecer hábitos considerando la higiene del sueño y establecer una red de apoyo.</td>
            <td>Psicoeducación sobre la higiene del sueño.
                Mindfulness.
                </td>
          </tr>
        </tbody>
      </table>
</div>
