<!------Sessiones---------------->
<br>
<div id="cont" class="mat-elevation-z8">
    <mat-form-field class="example-full-width">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <button mat-fab extended color="primary" [routerLink]="['/regsesion']">
        <mat-icon>create_new_folder</mat-icon>
        Registrar Sesión
    </button>
    <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
  <ng-container matColumnDef="sesion_fecha_captura">
    <th mat-header-cell *matHeaderCellDef>Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.sesion_fecha_captura}} </td>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="sesion_no">
    <th mat-header-cell *matHeaderCellDef> N° de sesión </th>
    <td mat-cell *matCellDef="let element"> {{element.sesion_no}} </td>
</ng-container>

<!-- Weight Column -->
<ng-container matColumnDef="sesion_objetivo">
    <th mat-header-cell *matHeaderCellDef> Objetivo </th>
    <td mat-cell *matCellDef="let element"> {{element.sesion_objetivo}} </td>
</ng-container>

<!-- <ng-container matColumnDef="sesion_tecnica_abc">
  <th mat-header-cell *matHeaderCellDef> Técnica </th>
  <td mat-cell *matCellDef="let element"> {{element.sesion_tecnicas_estrategias}} </td>
</ng-container> -->

<ng-container matColumnDef="sesion_tarea_asignada">
  <th mat-header-cell *matHeaderCellDef> Tarea  </th>
  <td mat-cell *matCellDef="let element"> {{element.sesion_tarea_asignada}} </td>
</ng-container>

<ng-container matColumnDef="acciones">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
  <td mat-cell *matCellDef="let element">
    <button mat-raised-button color="primary" [routerLink]="['/editsesion',element.sesion_id]" style="width: 15px;">Editar </button>
    <button mat-raised-button color="accent" (click)="DeleteDatosSesion(element.sesion_id)" style="width: 15px;">Eliminar </button>
  </td>
</ng-container>
<!-- Notas de sesión -->
<ng-container matColumnDef="reporte">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Reporte</th>
    <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn" [routerLink]="['/repsesion',element.sesion_id]" >Notas </button></td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr> -->
    <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    #paginatorFirst
    [pageSizeOptions]="[4,6,8,10,12,14,16,18,20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
<!------------------------------->





